In [ ]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

data = [
    {"Event Name": "Leaders in Entrepreneurship Summit", "Cost ($)": 1500, "Leads": 85, "Opportunities": 10, "Revenue ($)":3800},
    {"Event Name": "Founder Networking",  "Cost ($)": 800,  "Leads": 60,  "Opportunities": 9,  "Revenue ($)": 4200},
    {"Event Name": "Campus Pop-up",       "Cost ($)": 350,  "Leads": 40,  "Opportunities": 4,  "Revenue ($)": 1500},
    {"Event Name": "Women in Biz Panel",  "Cost ($)": 1100, "Leads": 75,  "Opportunities": 10, "Revenue ($)": 6000},
]

df = pd.DataFrame(data)
df

,Event Name,Cost ($),Leads,Opportunities,Revenue ($)
0,Leaders in Entrepreneurship Summit,1500,85,10,3800
1,Founder Networking,800,60,9,4200
2,Campus Pop-up,350,40,4,1500
3,Women in Biz Panel,1100,75,10,6000

In [ ]:
df.columns = (
    df.columns
      .str.lower()
      .str.replace(" ", "_")
      .str.replace("($)", "", regex=False)
      .str.replace("__", "_")
      .str.strip("_")
)

df

                           event_name  cost  leads  opportunities  revenue
0  Leaders in Entrepreneurship Summit  1500     85             10     3800
1                  Founder Networking   800     60              9     4200
2                       Campus Pop-up   350     40              4     1500
3                  Women in Biz Panel  1100     75             10     6000

In [ ]:
# 3) Calculate key metrics
df["profit"] = df["revenue"] - df["cost"]

# ROI as a decimal (0.25 = 25% ROI)
df["roi"] = df["profit"] / df["cost"]

# Conversion rate from leads to opportunities
df["conversion_rate"] = df["opportunities"] / df["leads"]

# Optional: cost per lead, revenue per lead (extra nice for resumes)
df["cost_per_lead"] = df["cost"] / df["leads"]
df["revenue_per_lead"] = df["revenue"] / df["leads"]

df

,event_name,cost,leads,opportunities,revenue,profit,roi,conversion_rate,cost_per_lead,revenue_per_lead
0,Leaders in Entrepreneurship Summit,1500,85,10,3800,2300,1.533333,0.117647,17.647059,44.705882
1,Founder Networking,800,60,9,4200,3400,4.250000,0.150000,13.333333,70.000000
2,Campus Pop-up,350,40,4,1500,1150,3.285714,0.100000,8.750000,37.500000
3,Women in Biz Panel,1100,75,10,6000,4900,4.454545,0.133333,14.666667,80.000000

In [ ]:
df_view = df.copy()
df_view["roi"] = (df_view["roi"] * 100).round(1).astype(str) + "%"
df_view["conversion_rate"] = (df_view["conversion_rate"] * 100).round(1).astype(str) + "%"
df_view["cost_per_lead"] = df_view["cost_per_lead"].round(2)
df_view["revenue_per_lead"] = df_view["revenue_per_lead"].round(2)

df_view[["event_name", "cost", "revenue", "profit", "roi", "leads", "opportunities", "conversion_rate", "cost_per_lead", "revenue_per_lead"]]

,event_name,cost,revenue,profit,roi,leads,opportunities,conversion_rate,cost_per_lead,revenue_per_lead
0,Leaders in Entrepreneurship Summit,1500,3800,2300,153.3%,85,10,11.8%,17.65,44.71
1,Founder Networking,800,4200,3400,425.0%,60,9,15.0%,13.33,70.00
2,Campus Pop-up,350,1500,1150,328.6%,40,4,10.0%,8.75,37.50
3,Women in Biz Panel,1100,6000,4900,445.5%,75,10,13.3%,14.67,80.00

In [ ]:
top_by_roi = df.sort_values("roi", ascending=False)[
    ["event_name", "roi", "profit", "conversion_rate", "cost_per_lead", "revenue_per_lead"]
]

top_by_revenue = df.sort_values("revenue", ascending=False)[
    ["event_name", "revenue", "profit", "roi", "conversion_rate"]
]

top_by_roi, top_by_revenue

(                           event_name       roi  profit  conversion_rate  \
 3                  Women in Biz Panel  4.454545    4900         0.133333
 1                  Founder Networking  4.250000    3400         0.150000
 2                       Campus Pop-up  3.285714    1150         0.100000
 0  Leaders in Entrepreneurship Summit  1.533333    2300         0.117647

    cost_per_lead  revenue_per_lead
 3      14.666667         80.000000
 1      13.333333         70.000000
 2       8.750000         37.500000
 0      17.647059         44.705882  ,
                            event_name  revenue  profit       roi  \
 3                  Women in Biz Panel     6000    4900  4.454545
 1                  Founder Networking     4200    3400  4.250000
 0  Leaders in Entrepreneurship Summit     3800    2300  1.533333
 2                       Campus Pop-up     1500    1150  3.285714

    conversion_rate
 3         0.133333
 1         0.150000
 0         0.117647
 2         0.100000  )

In [ ]:
df.to_excel("event_roi_clean.xlsx", index=False)
print("Saved: event_roi_clean.xlsx")

Saved: event_roi_clean.xlsx